/* -----------------------------------backlog---------------------------------------------------*/

.backlog-bg {
    color: #203192;
    font-weight: bold;
    position: relative;
    margin-left: 150px;
    top: 36px;
    height: 72vh;
    width: calc(100% - 170px);

}

.margin{
    margin-top: 6% !important;
}

.emptybacklog {
    width: 80vw;
    text-align: center;
    margin-top: 150px;
}

.backlog-container {
    display: flex;
    align-items: center;
}

.backlog-headlines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83%;
}

.backlog-headline-details {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.backlog-assigned-user {
    width: 31%;
}

.backlog-assign {    
    display: flex;
    align-items: center;
}

.backlog-category {    
    display: flex;
    align-items: center;
}

.backlog-details {
    word-break: break-word;   
    display: flex;
    justify-content: flex-start;
}


.backlog-main {
    width: 90%;
    background-color: #F4F2FB;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.backlog-main-child {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 8px;
}

.backlog-tasks {
    width: 10px;
    height: 100px;
}

.user-div {
    display: flex;
    align-items: center;
    width: 27%;
}

.details-div {
    width: 78%;
    display: flex;
    justify-content: space-between;
    padding-right: 1%;
}

.backlog-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}

.backlog-user-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backlog-user img {
    width: 40px;
    height: auto;
    border-radius: 100px;
    margin: 4px;
    margin-left: 12px;
    border: 2px solid #203192;
}

.backlog-user span {
    color: #575757;
    font-size: 12px;
    font-weight: lighter;
    padding-left: 8px;
}

.backlog-dueDate {
    display: flex;
    align-items: center;
}

.backlog-description-button {
    display: flex;
    align-items: center;
    color: #575757;
    transition: all 255ms ease-in-out;
}

.backlog-description-button:hover {
    color: #0e2ee0;
    font-weight: bold;
    transition: all 255ms ease-in-out;
}

.backlog-description {
    display: flex;
    padding: 8px;
    width: 565px;
    margin: 16px;
    padding-right: 1%;
    color: #575757;
    border: 1px solid rgba(32, 49, 146, 0.5);
    border-radius: 5px;
    background-color: #fbfaff;
    font-weight: lighter;
}

.backlog-send-to {
    margin-top: 15px;
    height: 100px;
    display: flex;
    align-items: center;
}

.btn-send-to-board {
    width: fit-content;
    margin-left: 16px;
    margin-right: 5%;
    color: white;
    background-color: #203192;
    font-size: 14px;
    padding: 4px;
    border-radius: 10px;
    transition: all 75ms ease-in-out;
}

.btn-send-to-board:hover {
    background-color: #2e46cf;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
    transform: scale(1.1);
    transition: all 75ms ease-in-out;
}

.btn-delete {
    width: fit-content;
    margin-left: 16px;
    margin-right: 5%;
    color: white;
    background-color: #203192;
    font-size: 14px;
    padding: 4px;
    border-radius: 10px;
    transition: all 75ms ease-in-out;
}

.btn-delete:hover {
    background-color: #2e46cf;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
    transform: scale(1.1);
    transition: all 75ms ease-in-out;
}

.btn-delete img {
    height: 24px;
    width: auto;
}

.border_Low {
    border-left: 5px solid rgba(65, 170, 30, 0.600);
}

.border_Medium {
    border-left: 5px solid rgba(240, 210, 0, 0.600);
}

.border_High {
    border-left: 5px solid rgba(200, 0, 0, 0.600);
}

.detailsBg {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.editAssignedAccount img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 3px solid rgb(34, 98, 215);
    margin-right: 10px;
}

#alert {
    color: rgb(136, 1, 1);
    font-size: 12px;
}

.addTaskBgBacklog{   
    margin-top: 60px !important;
    height: 80vh !important;
    overflow: auto;
}

.userBacklog{
    margin-left: unset !important;
}

.userBacklog img{
    cursor: pointer;
    width: 32px !important;
    height: 32px !important;
    border-radius: 100px;
    border: 2px solid lightgray;
    margin-right: 10px;
}

.assigneToAccount{
    margin-top: 16px;
}

.assigneToAccount span{
    font-size: 14px;
}

.scaleIn{
    animation: scale-in 225ms ease-in-out;
    transform-origin: 50% 100%;
}

.scaleOut{
    animation: scale-out 225ms ease-in-out;
    transform-origin: 50% 100%;
}

@keyframes scale-in{
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@keyframes scale-out{
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

@media(max-width: 1200px) {

    .backlog-main {
        width: 85%;
    }

    .details-div {
        padding-left: 5%;
    }


}

@media(max-width: 900px) {

    .backlog-main {
        width: 99%;        
    }

    .backlog-main-child {
        height: 20vh;
        padding: 0;
    }

   
    .details-div {
        width: 78%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 15vh;
        justify-content: space-evenly;
    }

    .backlog-headlines {
        display: none;
    }

    .user-div{
        width: 60%;
    }
}


@media(max-width: 720px) {
    .backlog-container {
        display: flex;
        flex-direction: column;
        height: 200px;
        margin-bottom: 16px;
    }

    .emptybacklog {
        width: 95vw;
    }

    .details-div {
        align-items: flex-end;
        text-align: right;
    }

    .backlog-main {
        width: 98%;
    }

    .backlog-bg {
        width: 95vw;
        margin-left: 10px;
    }
}

@media(max-width: 600px){
    .addTaskBgBacklog{
        height: 79vh !important;
    }
}

@media(max-width: 420px) {

    .backlog-user {
        display: flex;
        flex-direction: column;
    }


    .backlog-user-child img {
        height: 30px;
        width: auto;
    }

    .user-div{
        width: 80%
    }
}

@media(max-width: 300px) {

    .backlog-user-child img {
        height: 20px;
        width: auto;
    }

    .details-div {
        font-size: 14px;
    }
}