/* -----------------------------------backlog---------------------------------------------------*/

.backlog-bg {
    color: #203192;
    font-weight: bold;
    position: relative;
    margin-left: 150px;
    top: 36px;
    height: 72vh;
    width: calc(100% - 170px);

}

.backlog-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backlog-headlines {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.backlog-assign {
    width: 350px
}

.backlog-category {
    width: 200px;

}

.backlog-details {
    width: 600px;
    text-align: right;

}

.backlog-main {
    width: 90%;
    background-color: #F4F2FB;
    height: 100px;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.backlog-tasks {
    width: 10px;
    height: 100px;
}


.backlog-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 340px;
}

.username {
    padding-left: 3%;
}

.backlog-user img {
    width: 50px;
    height: auto;
    
}

.backlog-dueDate {
    width: 200px;
}

.backlog-urgency {
    width: 100px;
}

.backlog-description {
    display: flex;
    justify-content: end;
    width: 565px;
    margin-left: 30px;
    padding-right: 1%;
}

.backlog-send-to {
    margin-top: 15px;
    height: 100px;
    display: flex;
    align-items: center;
}

.btn-send-to-board {
    width: 110px;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    background-color: #203192;
    font-size: 14px;
    height: 50px;
    border-radius: 10px;
    transition: all 100ms ease-in-out;
}

.btn-send-to-board:hover {
    background-color: #2e46cf;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    transform: scale(1.1);
    transition: all 100ms ease-in-out;
}