/* -----------------------------------header---------------------------------------------------- */

.header {
    z-index: 10;
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 0;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #203192;
}

.headerTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
}

.navbar div {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 24px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.navbar div:hover {
    transition: all 100ms ease-in-out;
    border-left: 4px solid white;
}

.active {
    border-left: 4px solid white;
}

.navbar a {
    color: #D8D8D8;
    text-align: left;
}

.navbar a:hover {
    color: white;
    transition: all 225ms ease-in-out;
}

.headerTop img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

#activeUser{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#activeUser img{
    border: 1px solid white;
    border-radius: 100px;
    padding: 3px;
    width: 45px;
}

#activeUser p{
    margin: 8px;
    color: white;
    font-size: 14px;
    margin-bottom: 16px;
}

.headerBottom {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerBottom a{
    margin-bottom: 16px;
    color: #c2c2c2;
    transition: all 25ms ease-in-out;
}

.headerBottom a:hover{
    transform: scale(1.05);
    color: rgb(165, 16, 16);
    font-weight: 525;
}

.headerResponsive {
    display: none;
}

@media(max-width: 720px){
    .headerResponsive{
        display: flex !important;
        position: absolute;
        top: 20px;
        right: 2%;
        overflow: hidden;
        height: 6%;
        align-items: baseline;
        z-index: 100;
    }

    .header{
        display: none;
    }

    .responsiveMenu{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 32px;
        transition: all 225ms ease-in-out;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        padding: 4px;
    }

    .responsiveMenu div:hover{
        transform: scale(1.1);
    }

    .responsiveMenu a:hover{
        transform: scale(1.1);
    }

    .responsiveMenu img{
        width: 24px;
        height: 24px;
        background-color: #203192;
        padding: 8px;
        border-radius: 10px;
        box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 50%);;
    }

    .responsiveMenu div{
        background-color: #203192;
        margin: 8px;
        padding: 8px;
        border-radius: 15px;
        box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 50%);;
    }

}

@media(max-width: 380px){
    .headline{
        width: 60%;
    }

    .headerResponsive{
        top: 14px;
    }
}