/* -----------------------------------header---------------------------------------------------- */

.header {
    z-index: 10;
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 0;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #203192;
}

.headerTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
}

.navbar div {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 24px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.navbar div:hover {
    transition: all 100ms ease-in-out;
    border-left: 4px solid white;
}

.active {
    border-left: 4px solid white;
}

.navbar a {
    color: #D8D8D8;
    text-align: left;
}

.navbar a:hover {
    color: white;
    transition: all 225ms ease-in-out;
}

.headerTop img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

.headerBottom img {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 100px;
    padding: 3px;
    margin: 25px 62px;
}

.headerBottom {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.icons8 {
    color: #707070;
    font-size: 11px;
}

.icons8 a {
    color: #707070;
}

.headerResponsive {
    display: none;
}


@media(max-width: 720px) {
    .header {
        flex-direction: row;
        width: 100%;
        height: 50px;
        top: 13%;
        align-items: center;
    }

    .headerTop {
        flex-direction: row;
        width: 80%;
    }

    .headerTop img {
        width: 32px;
        height: 32px;
        margin-left: 32px;
    }

    .headerBottom {
        width: 20%;
        align-items: end;
    }

    .headerBottom img {
        width: 32px;
        height: 32px;
        margin: unset;
        margin-right: 32px;
    }

    .headline {
        margin-left: 5%;
    }

    .navbar {
        display: flex;
        flex-direction: row;
    }

    .navbar hr {
        width: 0% !important;
        height: 20px;
        margin: 14px !important;
    }
}

@media(max-width: 600px){
    .headerResponsive{
        display: flex !important;
        position: absolute;
        top: 4%;
        right: 5%;
        overflow: hidden;
        height: 5%;
        align-items: baseline;
    }

    .header{
        display: none;
    }

    .responsiveIcon{
        display: flex;
        flex-direction: column;
        margin-top: 32px;
    }

    .responsiveIcon img{
        margin: 8px;
    }

}