/* -----------------------------------header---------------------------------------------------- */

.header {
    z-index: 10;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #203192;
}

.headerTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
}

.navbar div {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 24px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.navbar div:hover {
    transition: all 100ms ease-in-out;
    border-left: 4px solid white;
}

.active {
    border-left: 4px solid white;
}

.navbar a {
    color: #D8D8D8;
    text-align: left;
}

.navbar a:hover {
    color: white;
    transition: all 225ms ease-in-out;
}

.headerTop img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

#activeUser {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#activeUser img {
    border: 1px solid white;
    border-radius: 100px;
    padding: 3px;
    width: 45px;
}

#activeUser p {
    margin: 8px;
    color: white;
    font-size: 14px;
    margin-bottom: 16px;
}

.headerBottom {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerBottom a {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
    color: #D8D8D8;
    transition: all 75ms ease-in-out;
}

.headerBottom a:hover {
    transition: all 100ms ease-in-out;
    border-left: 8px solid white;
}

.headerResponsive {
    display: none;
}

.growIn{
    animation: grow-in 225ms ease-in-out;
    transform-origin: 100% 0%
}

.growOut{
    animation: grow-out 225ms ease-in-out;
    transform-origin: 100% 0%
}

@keyframes grow-in{
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@keyframes grow-out{
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

@media(max-width: 720px) {
    .headerResponsive {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        top: 20px;
        right: 1.5%;
        overflow: hidden;
        height: 80%;
        align-items: baseline;
        z-index: 100;
    }

    .header {
        display: none;
    }

    #responsiveNavButton {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: unset
    }

    #responsiveNavButton img{
        margin: 8px;
    }

    .responsiveMenu {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-top: 29px;
        transition: all 225ms ease-in-out;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
    }

    .responsiveMenu div:hover {
        transform: scale(1.1);
    }

    .responsiveMenu a:hover {
        transform: scale(1.1);
    }

    .responsiveMenu img {
        width: 24px;
        height: 24px;
        background-color: #203192;
        padding: 8px;
        margin: 8px;
        border-radius: 10px;
        box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 50%);
        ;
    }

    .responsiveMenu div {
        background-color: #203192;
        margin: 8px;
        padding: 8px;
        border-radius: 15px;
        box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 50%);
        font-size: 14px;
    }

}


@media(max-width: 380px) {
    .headline {
        width: 60%;
    }

    .headerResponsive {
        top: 14px;
    }
}