/* -----------------------------------general settings------------------------------------------ */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    height: fit-content;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    color: rgb(240, 240, 240);
}

button {
    background-color: unset;
    border: unset;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
}

input{
    font-family: 'PT Sans', sans-serif;
}

.disable{
    pointer-events: none;
}

.d-none{
    display: none !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(32, 49, 146);
    border-radius: 10px;
}


/* -----------------------------------startpage---------------------------------------------------- */

.startpage {
    height: 100vh;
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    border: 2px solid #203192;
    border-radius: 5px;
    padding: 16px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login p{
    color:#203192;
    font-weight: bold;
}

.login input{
    outline: none;
    margin: 8px;
    border: 1px solid lightgray;
    padding: 4px;
    border-radius: 3px;
    width: 100%;
}

#loginButton{
    background-color: #203192;
    color: white;
    text-transform: uppercase;
    width: fit-content;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    margin: 8px;
}

#loginAsGuestButton{
    color:#203192;
    cursor: pointer;
}

/* -----------------------------------Page Headline---------------------------------------------------- */

.headline {
    margin-top: 2%;
    margin-left: 150px;
}

.headline h1 {
    font-size: 28px;
    margin-bottom: 8px;
}

.headline span {
    color: #203192;
}


