/* -----------------------------------general settings------------------------------------------ */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    height: fit-content;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    color: rgb(240, 240, 240);
}

button {
    background-color: unset;
    border: unset;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
}

.disable{
    pointer-events: none;
}

.d-none{
    display: none !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(32, 49, 146);
    border-radius: 10px;
}


/* -----------------------------------startpage---------------------------------------------------- */

.startpage {
    margin-top: 2%;
    margin-left: 130px;
}

/* -----------------------------------Page Headline---------------------------------------------------- */

.headline {
    margin-top: 2%;
    margin-left: 150px;
}

.headline h1 {
    font-size: 28px;
    margin-bottom: 8px;
}

.headline span {
    color: #203192;
}


