/* -----------------------------------general settings------------------------------------------ */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    height: fit-content;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

button {
    background-color: unset;
    border: unset;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
}

.disable{
    pointer-events: none;
}

.d-none{
    display: none !important;
}

/* -----------------------------------startpage---------------------------------------------------- */

.startpage {
    margin-top: 2%;
    margin-left: 130px;
}

/* -----------------------------------Page Headline---------------------------------------------------- */

.headline {
    margin-top: 2%;
    margin-left: 150px;
}

.headline h1 {
    font-size: 28px;
    margin-bottom: 8px;
}

.headline span {
    color: #203192;
}



/* -----------------------------------Add Task---------------------------------------------------- */

.addTaskBg {
    background-color: #F4F2FB;
    margin-left: 150px;
    margin-top: 8%;
    height: 65vh;
    width: calc(100% - 170px);
    border-radius: 15px;
}

.addTask {
    display: flex;
    height: 100%;
}

.addTask h3 {
    text-transform: uppercase;
    color: #203192;
    font-size: 16px;
}

.addTask input {
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 32px;
    width: 90%;
    padding: 5px;
    color: #575757;
}

.columnLeft{
    width: calc(50% - 64px);
    margin: 4px 32px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columnRight{
    width: calc(50% - 64px);
    margin: 4px 32px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    margin-bottom: 12px;
}

input[type="date" i] {
    color: #575757;
    cursor: pointer;
}

.addTask select {
    outline: none;
    border: 1px solid lightgray;
    width: 93%;
    height: 45px;
    padding: 5px;
    border-radius: 5px;
    color: #575757;
    cursor: pointer;
}

.columnLeft textarea {
    outline: none;
    resize: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 90%;
    height: 140px;
    padding: 10px 5px;
    color: #575757;
}

.assigneToAccount {
    display: flex;
    align-items: center;
    margin: unset !important;
    width: 80%;
}

.assigneToAccount div {
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.assigneToAccount img {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.user{
    width: 80%;
    overflow: auto;
}

.user img{
    border: 1px solid white;
    border-radius: 100%;
    padding: 3px;
    background-color: #2e46cf;
    width: 55px !important;
    height: 55px !important;
    box-sizing: border-box;
    margin-right: 8px;
    margin-top: 16px;
    cursor: pointer;
    animation: scale-in 225ms ease-in-out;
    transform-origin: 0% 
}

.sendToButton{
    width: 12px !important;
    height: 12px !important;
    border-radius: 100px !important;
    background-color: white;
    border: 1px solid #2e46cf;
    padding: unset;
}

label{
    margin-right: 16px;
}

.addTask button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.addTaskButtonLine {
    display: flex;
    justify-content: end;
    width: 100%;
}

.cancelTaskButton {
    color: #203192;
    margin-right: 16px;
}

.cancelTaskButton {
    color: #203192;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.createTaskButton {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: #203192;
    color: white;
    padding: 12px;
    border-radius: 12px;
    transition: all 100ms ease-in-out;
}

.createTaskButton:hover {
    background-color: #2e46cf;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    transform: scale(1.1);
    transition: all 100ms ease-in-out;
}

.dialog{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialogContent{
    width: 25%;
    height: 30%;
    background-color: white;
    border: 2px solid #203192;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 32px 64px;
}

.dialogContent h3{
    color:#203192;
}

.dialogContent img{
    cursor: pointer;
    margin-left: 16px;
}

.dialogContent input{
    outline: none;
    width: 250px;
    padding: 8px;   
    border: 1px solid lightgray;
    border-radius: 5px;
    color: #575757; 
}

.dialogContent button{
    background-color: #2e46cf;
    color: white;
    padding: 6px;
    border-radius: 5px;
    font-size: 16px;
}

.dialogContent div{
    display: flex;
    align-items: center;
}

/* -----------------------------------backlog---------------------------------------------------*/

.backlog-bg {
    color: #203192;
    font-weight: bold;
    position: relative;
    margin-left: 150px;
    top: 36px;
    height: 72vh;
    width: calc(100% - 170px);

}

.backlog-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backlog-headlines {
    display: flex;
    width: 90%;

}

.backlog-assign {
    width: 600px
}

.backlog-category {
    width: 200px;

}

.backlog-details {
    width: 600px;
    text-align: right;

}

.backlog-main {
    width: 90%;
    background-color: #F4F2FB;
    height: 100px;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.backlog-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
}

.username {
    padding-left: 3%;
}

.backlog-user img {
    width: 50px;
    height: auto;
    padding-left: 10px;
}

.backlog-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-left: 300px;
}

.backlog-description {
    display: flex;
    justify-content: end;
    width: 690px;
    margin-left: 30px;
    padding-right: 1%;
}

.backlog-send-to {
    margin-top: 15px;
    height: 100px;
    display: flex;
    align-items: center;
}

.btn-send-to-board {
    width: 110px;
    margin-left: 10%;
    color: white;
    background-color: #203192;
    font-size: 14px;
    height: 50px;
    border-radius: 10px;
    transition: all 100ms ease-in-out;
}

.btn-send-to-board:hover {
    background-color: #2e46cf;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    transform: scale(1.1);
    transition: all 100ms ease-in-out;
}

/* ----------------animation------------------- */

@keyframes scale-in{
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}